*{
    margin: 0;
    padding: 0;
    font-family: garamond;

} 

html{
    scroll-behavior: smooth;
}
/*.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255,255,255, 0.75),rgb(255,255,255)),url(images/about1.png);
    background-size: cover;
    background-position: center;
}*/
    

.navbar{
    width: 85%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.h-nav-resp{
    height: 30px;
}

.logo
{
    position:absolute;
    height: 19%;
    left:0;
    top:0; 
    cursor: pointer;

}

.nav-list{
    display: flex;
    padding: 35px 0;
    justify-content: center;
    align-items: center;
   
}

.v-class-resp li{
    opacity: 0.8;
    list-style-type:none;
}

/*.content{
    width: 100%;
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(232, 18, 18);
}*/


a,button{

    text-decoration:none;
    font-size: 20px;
    font-weight: 500;
    color: rgb(139,123,108);
    cursor: pointer;
}

.navbar ul li a:hover{
    color:burlywood;
    background-color:white;
    border-radius: 20px;
    transition: all 0.4s ease 0s;
}
button:hover{
    background-color: cornsilk;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(139,123,108);
    color: white;
    text-align: center;
 }